/*override leg css*/
.leg_PageContent{
	min-height: 625px;
	font-family: arial;
	color:#3b3b3b;
	/*margin:0;*/
}

/*.leg_PageContent ul{
	margin:0;
}*/

/*application css*/
#sidebar{
	position:absolute;
	height:540px;
	width:29%;
}

#map{
	border: 1px solid #a7a5a6;
	float: right;
	z-index: -1;
}

#officials ul{
	margin-left: 0;
}

ul{
	list-style-type: none;	
}

.search,.mnhouse, .mnsenate, .ushouse, .ussenate1, .ussenate2 {
	height:86px;
	background-color: #e6e6e6;
	border-top: 1px solid #a7a5a6;
	border-right: 1px solid #a7a5a6;
	border-bottom: 1px solid #a7a5a6;
	border-left: 3px solid #a7a5a6;
}
.mnhouse:hover, .mnsenate:hover, .ushouse:hover, .ussenate1:hover, .ussenate2:hover{
	background-color: rgba(230,230,230,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	cursor: pointer;
}

.active{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
}
.active:hover{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	/*cursor: default;*/
}

.mnhouse, .mnsenate,.ushouse, .ussenate1, .ussenate2{
	margin-top:3px;
}

.lcc_gis_member{
	font-weight: bold;
	margin-top: -65px;
	margin-left: 100px;
}
.lcc_gis_memberdistrict{
	margin-left: 100px;
}
.search label{
	font-weight: bold;
	font-size: 12px;
}

#map_title{
	margin-left:39%;
	margin-bottom:15px;
}

#map_reset{
	font-size: 11px;
	position: absolute;
	top:56px;
	right:0;
}
#map_reset a, #map_help a{
	color:#3b3b3b;
}
#map_reset a:hover, #map_help a:hover{
	color:#337ab7;
}

#map_help{
	font-size: 11px;
	position: absolute;
	top:620px;
	left:30%;
}
#map_search_results_metadata{
	font-size: 11px;
	position: absolute;
	top:620px;
	right:0;
}

#triangle-topright{
	position:absolute;
	top:73px;
	left:92%;
	width:0;
	height:0;
	border-top:100px solid #3b3b3b;
	border-left: 100px solid transparent;
}

.fa-map{
	color:white;
	position: absolute;
	right:36px;
	bottom:67px;
}

.form-group{
	padding: 7px 9px 9px 2px;
}
.form-group input{
	height:23px;
	border-radius: 4px;
	color: #3b3b3b;
	width:100%;
/*	border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;*/
}

.form-group input:focus{
    border-color: #555;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(85, 85, 85, 0.6);*/
    outline: 0 none;
}
#searchButton{
	position:absolute;
	right:2%;
	top:11%;
	background-color: #606060;
	border: 1px solid #3b3b3b;
	border-radius: 3px;
	padding: 1px;
	color: white;
}
#searchButton:hover{
	background-color: #919191;
	cursor: pointer;
}