/*override leg css*/
.leg_PageContent{
	min-height: 625px;
	font-family: arial;
}

/*application css*/
#sidebar{
	position:absolute;
	height:540px;
	width:29%;
}

#map{
	border: 1px solid #a7a5a6;
	float: right;
}

#officials{
	margin-left: 0;
}

ul{
	list-style-type: none;	
}

.search,.mnhouse, .mnsenate, .ushouse, .ussenate1, .ussenate2 {
	height:86px;
	background-color: #e6e6e6;
	border-top: 1px solid #a7a5a6;
	border-right: 1px solid #a7a5a6;
	border-bottom: 1px solid #a7a5a6;
	border-left: 3px solid #a7a5a6;
}
.mnhouse:hover, .mnsenate:hover, .ushouse:hover, .ussenate1:hover, .ussenate2:hover{
	background-color: rgba(230,230,230,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	cursor: pointer;
}

.active{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
}
.active:hover{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	/*cursor: default;*/
}

.mnhouse, .mnsenate,.ushouse, .ussenate1, .ussenate2{
	margin-top:3px;
}

.lcc_gis_member{
	font-weight: bold;
	margin-top: -65px;
	margin-left: 65px;
}
.lcc_gis_memberdistrict{
	margin-left: 65px;
}
.search label{
	font-weight: bold;
	font-size: 12px;
}

#map_title{
	margin-left:39%;
	margin-bottom:15px;
}

#map_reset{
	font-size: 11px;
	position: absolute;
	top:56px;
	left:92%;
}
#map_reset a, #map_help a{
	color:black;
}
#map_reset a:hover, #map_help a:hover{
	color:#337ab7;
}

#map_help{
	font-size: 11px;
	position: absolute;
	top:620px;
	left:30%;
}
#map_search_results_metadata{
	font-size: 11px;
	position: absolute;
	top:620px;
	right:0;
}