/*override leg css*/
.leg_PageContent{
	min-height: 625px;
	font-family: arial;
	color:#3b3b3b;
	/*margin:0;*/
}

/*.leg_PageContent ul{
	margin:0;
}*/

/*application css*/
#sidebar{
	position:absolute;
	height:540px;
	width:29%;
}

#map{
	border: 1px solid #a7a5a6;
	float: right;
	z-index: 0;
}

#officials ul{
	margin-left: 0;
}

ul{
	list-style-type: none;	
}

.search,.mnhouse, .mnsenate, .ushouse, .ussenate1, .ussenate2 {
	height:86px;
	background-color: #e6e6e6;
	border-top: 1px solid #a7a5a6;
	border-right: 1px solid #a7a5a6;
	border-bottom: 1px solid #a7a5a6;
	border-left: 3px solid #a7a5a6;
}
.mnhouse:hover, .mnsenate:hover, .ushouse:hover, .ussenate1:hover, .ussenate2:hover{
	background-color: rgba(230,230,230,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	cursor: pointer;
}

.active{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
}
.active:hover{
	background-color: rgba(153,51,51,.41);
	border-left: 3px solid #991a36;
	/*border-right: 3px solid #991a36;*/
	/*cursor: default;*/
}

.mnhouse, .mnsenate,.ushouse, .ussenate1, .ussenate2{
	margin-top:3px;
}

.lcc_gis_member{
	font-weight: bold;
	margin-top: -65px;
	margin-left: 100px;
}
.lcc_gis_memberdistrict{
	margin-left: 100px;
}
#officials img{
	max-height: 84px;
	max-width: 65%;
}

.search label{
	font-weight: bold;
	font-size: 12px;
}

#map_title{
	/*margin-left:39%;*/
	text-align: center;
	/*margin-bottom:15px;*/
}

#map_reset{
	font-size: 11px;
	/*position: relative;*/
	top:44px;
	text-align: right;
}
#map_reset .noref,#map_help .noref, #map_disclaimer .noref{
	 color:#3b3b3b;
}
#map_reset .noref:hover,#map_help .noref:hover, #map_disclaimer .noref:hover{
	cursor:pointer;
	color:#346f9a;
}
#map_layers_toggle  a{
	color:#8d8d8d;
}

#map_help{
	font-size: 11px;
	position: absolute;
	bottom:13px;
	/*top:620px;*/
	left:30%;
}
#map_search_results_metadata{
	font-size: 11px;
	position: absolute;
	bottom:0;
	width:100%;
	padding-left: 15%;
	text-align: center;
	/*top:620px;*/
	/*right:20%;*/
}

#map_disclaimer{
	font-size: 11px;
	position: absolute;
	/*top:620px;*/
	bottom:13px;
	right:0;
}

#triangle-topright{
	position:absolute;
	/*top:73px;*/
	right:0;
	/*right:150px;*/
	width:0;
	height:0;
	border-top:100px solid #3b3b3b;
	border-left: 100px solid transparent;
	z-index: 101;
}
#triangle-topright{
	cursor:pointer;
}
#map_layers{
	position:absolute;
	/*top:73px;*/
	right:-225px;
	width:225px;
	height: 527px;
	background-color: #3b3b3b;
	color:#c3c3c3;

	z-index: 101;
}
#map_layers_content{
	/*padding:5px;*/
}
#map_layers_content_title{
	position:relative;
	left:38%;
	top:68px;
	font-size: 15px;
	font-weight: bold;
}
#map_layers_content_list{
	position: relative;
	/*left:-13px;*/
	top:85px;
}
#map_layers_toggle{
	position: absolute;
	right:0;
	top:8px;
}

#map_layers_basemap_title{
	position:relative;
	left:23%;
	top:100px;
	font-size: 15px;
	font-weight: bold;
}

#triangle-topright .fa-map{
	color:#8d8d8d;
	position: absolute;
	right:23px;
	bottom:67px;
}

.form-group{
	padding: 7px 9px 9px 2px;
}
.form-group input{
	height:23px;
	border-radius: 4px;
	color: #3b3b3b;
	width:100%;
/*	border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;*/
}

.form-group input:focus{
    border-color: #555;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(85, 85, 85, 0.6);*/
    outline: 0 none;
}
#searchButton{
	position:absolute;
	right:2%;
	top:11%;
	background-color: #606060;
	border: 1px solid #3b3b3b;
	border-radius: 3px;
	padding: 1px;
	color: white;
}
#searchButton:hover{
	background-color: #919191;
	cursor: pointer;
}
#switchBasemap{
	position:relative;
	left:36%;
	top:125px;
	background-color: #606060;
	border: 1px solid #3b3b3b;
	border-radius: 3px;
	padding: 1px;
	color: white;
}
#switchBasemap:hover{
	background-color: #919191;
	cursor: pointer;
}

#switchLabel{
	position:relative;
	top: 110px;
	left:77px;
}


.layersswitchLabel{
	position: 	relative;	
	left: 77px;
	top:13px;
}
#satellitediv{
	top:125px;
    left:25px;
}
.onoffswitch {
    position: relative; width: 47px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left:25px;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #3B3B3B; border-radius: 2px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 12px; padding: 0; line-height: 12px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 3px;
    background-color: #8D8D8D; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 3px;
    background-color: #97BF97; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 16px; margin: -2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border: 2px solid #3B3B3B; border-radius: 2px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Outer */
.popup {
/*    width:100%;
    height:100%;*/
    display:none;
    position:absolute	;
    bottom:32px;
    right:1px;
    background:rgba(0,0,0,0.75);
    /*add map position size*/
    height: 544px;
    width:70%;

}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:70%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
/*.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}*/